<a href="/">Home</a>
<a href="/products">Productos</a>
<br>
{{#if cart}}
  <h1>Carrito</h1>
  <ul>
    {{#each cart.products}}
      <li>
        {{this.id_prod.title}} - Cantidad: {{this.quantity}}
      </li>
    {{/each}}
  </ul>
{{else if message}}
  <p>{{message}}</p>
{{else}}
  <p>Error al cargar los detalles del carrito.</p>
{{/if}}
<br>
<form action="/api/carts/{{cart._id}}/clear" method="post">
  <button type="submit">Vaciar Carrito</button>
</form>
<form action="/checkout" method="GET">
  <button type="submit">Finalizar Compra</button>
</form>